<footer>
    <a href="/addMovie"> Add a movie</a> | 
    <a href="/findMovie">Find a movie</a> | 
    <a href="/movies">View movies</a>
    <br>
    <br>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
</footer>