<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fail</title>
</head>
<body>
    <h1>You Failed</h1>
    <h2>(to log in or register)</h2>
</body>
</html>