<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
  <body>
    <h1>My Movies</h1>
    <p>Welcome to My Movies. Please <a href="./login">login</a>. If this is your first time visiting, please <a href="./register">register</a>.</p>
  </body>
</html>
